# =========================
# BUILD SYSTEM (CMake)
# =========================
build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
*.cmake
Makefile
*.ninja
compile_commands.json

# =========================
# BINAIRES
# =========================
*.exe
*.out
*.app
*.a
*.lib
*.so
*.dll

# =========================
# OBJETS
# =========================
*.o
*.obj

# =========================
# LOGS / TEMP
# =========================
*.log
*.tmp
*.swp

# =========================
# IDE / EDITORS
# =========================
.vscode/
.idea/
*.user
*.suo

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# MSYS2 / WSL (optionnel)
# =========================
.msys64/